x-base-service: &base-service
    env_file: ./.env
    restart: on-failure

services:
    bot:
        <<: *base-service
        build:
            context: .
            dockerfile: ./docker/bot/Dockerfile
        depends_on:
            - webapi

    webapi:
        <<: *base-service
        build:
            context: .
            dockerfile: ./docker/webapi/Dockerfile
        environment:
            - FLASK_APP=manage.py
            - APP_HOST=0.0.0.0
            - APP_PORT=5000
            - POSTGRES_HOST=postgres
            - POSTGRES_PORT=5432
            - REDIS_HOST=redis
            - REDIS_PORT=6379
        depends_on:
            - postgres
            - redis
        volumes:
            - ./webapi/src:/src
        ports:
            - "5001:5000"

    nginx:
        <<: *base-service
        image: nginx:1.21.6-alpine
        environment:
            - APP_HOST=webapi
            - APP_LISTEN_PORT=${APP_NGINX_PORT}
        volumes:
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./docker/nginx/templates:/etc/nginx/templates:ro
        ports:
            - ${APP_NGINX_PORT}:${APP_NGINX_PORT}
        depends_on:
            - webapi

    postgres:
        <<: *base-service
        image: postgres:14.3-alpine
        ports:
            - ${POSTGRES_PORT}:5432
        volumes:
            - pgdata:/var/lib/postgresql/data

    redis:
        <<: *base-service
        image: redis:7-alpine
        ports:
            - ${REDIS_PORT}:6379
        volumes:
            - redis_data:/data
    
    celery:
        build: ./adminpanel/src
        command: celery -A config.celery worker -l info
        volumes:
            - ./adminpanel/src/:/usr/src/app/
        env_file:
            - .env
        depends_on:
            - redis

    celery-beat:
        build: ./
        command: celery -A config.celery beat -l info
        volumes:
            - ./adminpanel/src/:/usr/src/app/
        env_file:
            - .env
        depends_on:
            - redis

volumes:
    pgdata:
    redis_data:
